/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
    font-family: 'izayoi';
    src: url('polices/izayoimonospaced-nwoy-webfont.woff2') format('woff2'),
         url('polices/izayoimonospaced-nwoy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hack';
    src: url('polices/hack-bold-webfont.woff2') format('woff2'),
         url('polices/hack-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'hack';
    src: url('polices/hack-bolditalic-webfont.woff2') format('woff2'),
         url('polices/hack-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'hack';
    src: url('polices/hack-italic-webfont.woff2') format('woff2'),
         url('polices/hack-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'hack';
    src: url('polices/hack-regular-webfont.woff2') format('woff2'),
         url('polices/hack-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


:root {
    --animSpeed: 0.5s;
}


html, body {
    background-color: #282a37;
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(
        to bottom right,
        #121212 0%,
        #282a37 20%,
        #333 50%,
        #445 100%
    );
}

#console {
    position: absolute;
    width: 94%;
    height: 90%;
    left: 3%;
    top: 2%;
    background-color: #282828;
    color: #eff1f5;
    border-radius: 30px;
    box-shadow: -10px -10px 5px #191919;
}

#navigation {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: #282828;
    border-radius: 30px 30px 0 0;
    margin: 0;
    padding: 1em;
    z-index: 10;
}

#tabs {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5em 2em;
    margin-right: 1em;
    /* min-width: 2em; */
    max-width: 220px;
    flex-basis: 220px;
    flex-grow: 1;
    max-height: 2em;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(127, 127, 127, 0.3);
    transition: background-color var(--animSpeed) ease 0ms;
    cursor: pointer;
}

.tab > a {
    font-family: "hack";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    text-decoration: none;
    color: #eff1f5;
}

.button {

    display: flex;
    position: relative;
    /* align-self: flex-end; */
    /* justify-self: flex-end; */
    /* flex: auto; */
    flex-grow: 0;
    height: 100%;
    
    flex-direction: row;
    flex-basis: 45.6px;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    margin-left: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(127, 127, 127, 0.3);
    transition: background-color var(--animSpeed) ease 0ms;
    cursor: pointer;
}

.button:first-of-type {
    display: none;
    margin-right: auto;
    margin-left: 0;
}

.button:last-of-type {
    margin-left: 1em;
}

.button > img {
    width: 100%;
    height: 100%;
    filter: invert(97%) sepia(8%) saturate(134%) hue-rotate(186deg) brightness(99%) contrast(93%);
}

.tab:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.button:first-of-type:hover {
    background-color: #1e66f5;
}

.button:hover {
    background-color: #df8e1d;
}

.button:last-of-type:hover {
    background-color: #e64553;
}

#cmd {
    font-family: "hack";
    list-style-type: none;
    font-size: 1.2em;
    height: 30%;
    margin-top: 20px;
    padding-left: 2em;
    scroll-behavior: smooth;
    overflow: hidden;
    -ms-overflow-style: none; /* Internet Explorer, Edge */
    scrollbar-width: none; /* Firefox */
}

#cmd > li {
    padding: 2px;
}

#cmd::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

section {
    overflow-x: hidden;
}

#wavecontainer {
    position: relative;
    margin-top: 20em;
    overflow-x: hidden;
    overflow-y: visible;
    z-index: 1;
}

#wave {
    /* position: absolute; */
    /* top: 40%; */
    position: relative;
    width: 250%;
    overflow: hidden;
    z-index: 10;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    position: relative;
    margin-top: -0.4vh;
    width: calc(100% - 2em);
    height: 100%;
    padding: 1em;
    color: white;
    font-family: "futura";
    font-weight: 400;
    font-size: 1.5vw;
    text-align: justify;
}

.content {
    z-index: 10;
    /* transform: translateY(-20em); */
    background-color: #63b9e6;
}

.content > h1, #wavecontainer > h1 {
    position: absolute;
    top: 0.7em;
    font-family: "Helvetica";
    text-transform: capitalize;
    font-size: 7vw;
    flex-grow: 1;
    flex-shrink: 1;
    width: 10%;
    height: 10%;
    font-weight: bold;
    margin-left: 0.8em;
    z-index: 15;
    color: #eff1f5;
}

#page0 > img {
    width: 20%;
    border-radius: 100%;
    
}

#page0 > img + p {
    float: right;
    clear: right;
    flex-basis: 70%;
    margin-left: 2em;
    text-align: justify;
}

#page1 > figure {
    border-radius: 1em;
    text-align: center;
    padding: 1em;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    min-width: 200px;
    max-width: 1000px;
    width: 25%;
    height: 110%;
    margin: 1em;
    transition: background-color var(--animSpeed) ease-out/*, transform var(--animSpeed) ease-out*/;
}

#page1 > figure:hover {
    background-color: rgba(127, 127, 127, 0.3);
    transform: translateY(-1em);
}

#page1 > figure > img {
    width: 100%;
    height: 100%;
}

#page1 > figure > figcaption {
    font-size: 15px;
}

iframe {
    border-radius: 0.5em;
    width: 95vw;
    height: 25em;
    margin-top: 1em;
}

#page2 > a {
    align-self: center;
}

#page2 > a > button {
    font-size: 1.5em;
    color: #fff;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#page2 > a > .button:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

#page3 > a {
    margin: 0.5em;
}

.enterLeft {
    animation: rightSlide var(--animSpeed) ease-in reverse;
}

.exitLeft {
    animation: rightSlide var(--animSpeed) ease-in normal;
}

.enterRight {
    animation: leftSlide var(--animSpeed) ease-in reverse;
}

.exitRight {
    animation: leftSlide var(--animSpeed) ease-in normal;
}

@keyframes slide-in {
    from {
        transform: translateY(2em);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes leftSlide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateX(2em);
    }
}

@keyframes rightSlide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateX(-2em);
    }
}

@media screen and (max-width: 920px) {
    .button:first-of-type {
        display: flex;
    }

    #tabs {
        display: none;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .tab > a {
        font-size: 0.8em;
    }

    #cmd {
        font-size: 0.8em;
    }

    #page2 > a > button {
        font-size: 1em;
    }
}